{% import "../../components/config.njk" as Config %}
{% import "../../components/mixins.njk" as Mixins %}
{% import "../../components/layout/head/head.njk" as Head %}
{% from "../../components/layout/footer/footer.njk" import Footer %}

{% macro Icon(name, width=undefined, height=width, symbols=symbolsInject, path=pathPrefix) %}
    {{ Mixins.svg(name, width, height, symbols, path) }}
{% endmacro %}

<!DOCTYPE html>
<html lang="{{ Config.lang }}">
    <head>
        {{ Head.content(head.default, pathPrefix) }}
        {% block styles %}
            {% for item in concat.css %}
                <link href="{{ pathPrefix }}assets/css/{{ item.name }}{{ version }}" rel="stylesheet">
            {% endfor %}
            <link href="{{ pathPrefix }}assets/css/vendor.css{{ version }}" rel="stylesheet">
            <link href="{{ pathPrefix }}assets/css/main.css{{ version }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        %symbols%
        <div class="page-wrapper">
            {% block header %}{% endblock %}
            <main class="page-content">
                {% block content %}{% endblock %}
            </main>
            {% block footer %}
                {{ Footer(footer.default) }}
            {% endblock %}
        </div>
        {% block scripts %}
            {% for item in concat.js %}
                <script src="{{ pathPrefix }}assets/js/{{ item.name }}" {% for props, val in item.props %} {{ props }}="{{ val }}" {% endfor %}></script>
            {% endfor %}
            <script src="{{ pathPrefix }}assets/js/vendor.js{{ version }}"></script>
            <script src="{{ pathPrefix }}assets/js/main.js{{ version }}"></script>
        {% endblock %}
    </body>
</html>
