-
    const PATH = pathPrefix;
    const lang = 'ru';
    const staticPath = {
        css: `${PATH}assets/css`,
        js: `${PATH}assets/js`,
        img: `${PATH}assets/img/content`
    };

    const links = {
        about: 'https://evscoder.github.io/about.html'
    }

    const images = {
        Logo: '__static__assets/img/content/Logo.svg'
    }
